
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    box-sizing: border-box; 
    font-family: Raleway;
    color: #0F0F0F; 
}
html, body{
    margin: 0;
    padding: 0;
}

button {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #FF0072;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #FF0072;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #FF0072;
    z-index: -1;
  }
  
  button:hover, button:focus {
    color: white;
  }
  
  button:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  button:active {
    transform: scale(0.9);
  }

  
  




.nav ul{
    margin: 0;
    }
.nav li{
    display: inline;
    
}
.nav a{
    display: inline-block;
    padding: 1em 2em;
    color: #0F0F0F;
    text-decoration: none;
}
.nav a:hover{
    background-color: rgba(255, 255, 255, .3);
}
.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.main-nav li{
    padding: 0 .01%; 
}



.main-header{
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../Images/headercover.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 8%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.band-name{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-weight: normal;

}
.band-name-large{

    font-size: 8em;
}

.content-section{
    margin: 1em;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1.5em;
    margin-bottom: 75px;
}

.section-header{
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
   
}
.about-band-image{
    float: left;
    margin: 15px;
    
}



.tour-item {
    border: 2px solid #ccc; /* Define the border style */
    padding: 10px; /* Add some padding for spacing */
    margin-bottom: 10px; /* Add margin to separate each item */
    border-radius: 5px; /* Optional: Add rounded corners */
    
}

/* Example styles for elements inside the looped content */
.tour-item strong {
    color: #333; /* Color for tour date */
}

.tour-item span {
    display: block; /* Make spans block-level for better formatting */
    color: #666; /* Color for location and theatre */
}



















.main-footer{
    background-color: wheat;
    color: white;
    padding: .25 0;
    margin: 0;
}

.main-footer-container{

    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 2%;
}

.main-footer-container ul{
    flex-grow: 1;
    text-align: end;
}

.footer-nav li{
    padding: 0 .5em;

}

.footer-nav img{
    width: 30px;
    height: 30px;

}