.card-header {

    color: #000000;
    padding: 20px;
    font-size: 3.5em;
    font-weight: 700;
}

.card-body {
    padding: 25px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.info{
    font-size: 1.2em;
    font-weight: 500;
    color: #000000;
}
.des{
    font-style: italic;
    font-size: 1.1em;
    font-weight: 400;
    margin-left: 40px;
    margin-right: 40px;
}
.loc{
    font-size: 1.7em;
    font-weight: 500;
    color: #000000;
}

